/* modified andy bell css reset */

/* // https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}
/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100vh;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* General Style */

/* Main Style */
body {
}

main {
    height: 100%;
    background: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-section {
    height: 60%;
    width: 40%;
    background: hsl(0, 0%, 100%);
    display: flex;
    border-radius: 10px;
}

.primary-section > * {
    flex-basis: 100%;
}

.product-img .product-mobile {
    display: none;
}

.product-img img {
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.product-desc {
    padding: 40px;
}

.product-desc h5 {
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    letter-spacing: 5px;
}

.product-desc h1 {
    color: hsl(212, 21%, 14%);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.product-desc p {
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
}

.prices {
    display: flex;
    align-items: center;
}

.prices .current-price {
    color: hsl(158, 36%, 37%);
    font-size: 1.5rem;
}

.prices .previous-price {
    text-decoration: line-through;
}

.product-desc button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: "Montserrat", sans-serif;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
}

.product-desc button:hover {
    background-color: hsl(156, 42%, 18%);
}

@media (max-width: 375px) {
    .primary-section {
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;
    }

    .primary-section > * {
        flex: 1;
    }

    .product-img img {
        height: 100%;
        border-radius: 10px 10px 0 0px;
    }

    .product-img .product-desktop {
        display: none;
    }

    .product-img .product-mobile {
        display: block;
    }
}
